<html>

<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="../../00 libraries/bootstrap3/bootstrap.3.3.7.min.css">
    <script src="../../00 libraries/bootstrap3/jquery.3.2.1.min.js"></script>
    <script src="../../00 libraries/bootstrap3/bootstrap.3.3.7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <br>
    <br>
    <div align="center" id="profile">
        <img class="img-circle" alt="Sivaprabu Ganesan" :src="profileLogo" />
        <h2 v-text="profileName" v-bind:class="{'headers': true,'accent-color': isOnline}">
</h2>
        <span v-text="profileDesignation" v-bind:style="{color:color?'yellow':'maroon'}"></span>
        <br>
        <br>
        <input v-model="query" placeholder="Search...">
        <br/>
        <br/>
        <div><b>Searching for: </b>{{ query }}</div>
        <br>
        <br>
        <textarea v-model="emailMessage"></textarea>
        <br>
        <br>
        <div>{{emailMessage}}</div>
        <label>single check box</label>
        <input type="checkbox" v-model="isPowerSyntaxEnabled">
        <br>
        <label>Multiple check box</label>
        <label>
            <input type="checkbox" value="beers" v-model="searchIndexes"> Beers
        </label>
        <label>
            <input type="checkbox" value="breweries" v-model="searchIndexes"> Breweries
        </label>
        <br/>
        <small>selected: {{ searchIndexes}}</small>
    </div>
    <script type="text/javascript" src="../../00 libraries/vuejs/vue-2.3.3.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>
