<html>

<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="../../00 libraries/bootstrap3/bootstrap.3.3.7.min.css">
    <script src="../../00 libraries/bootstrap3/jquery.3.2.1.min.js"></script>
    <script src="../../00 libraries/bootstrap3/bootstrap.3.3.7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <br>
    <br>
    <div align="center" id="profile">
        <img class="img-circle" alt="Sivaprabu Ganesan" :src="profileLogo" />
        <h2 v-text="profileName" v-bind:class="{'headers': true,'accent-color': isOnline}">
</h2>
        <span v-text="profileDesignation" v-bind:style="{color:color?'yellow':'maroon'}"></span>
        <br>
        <label class="form-check-label">
            <input type="radio" value="beers" v-model="searchIndex"> Beers
        </label>
        <label class="form-check-label">
            <input type="radio" value="breweries" v-model="searchIndex"> Breweries
        </label>
        <br>
        <small>selected: {{ searchIndex}}</small>
    </div>
    <script type="text/javascript" src="../../00 libraries/vuejs/vue-2.3.3.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>
