<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../00 libraries/bootstrap4/bootstrap.min.4.0.0-alpha.6.css">
    <style type="text/css">
    .event-block {
        border-width: 1px;
        border-style: solid;
        padding: 3rem;
    }

    [v-cloak] {
        display: none;
    }
    </style>
</head>

<body>
    <div class="container">
        <br />
        <div id="growler">
            <ul>
                <li v-for="v in currentUser">
                    {{v}}
                </li>
            </ul>
            <br>
            <br>
            <ul>
                <li v-for="(v,k) in currentUser">
                    {{k}} => {{v}}
                </li>
            </ul>
            <br>
            <br>
            <ul>
                <li v-for="(v,k,i) in currentUser">
                    {{i}} => {{k}} => {{v}}
                </li>
            </ul>
        </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../../00 libraries/jqueryslim/jquery-3.1.1.slim.min.js "></script>
    <script src="../../00 libraries/tetherjs/tether.min.1.4.0.js "></script>
    <script src="../../00 libraries/bootstrap4/bootstrap.min.4.0.0-alpha.6.js "></script>
    <script src="../../00 libraries/vuejs/vue-2.2.5.js" type="text/javascript "></script>
    <script src="script.js" type="text/javascript "></script>
</body>

</html>
